if  articlesWithComments.length === 0
  p.hot__empty Здесь пока ничего нет...
if  articlesWithComments.length > 0
  ul.last__list
    each article in articles
      each comment in article.comments
        li.last__list-item
          img.last__list-image(src='/img/avatar-small-1.png' width='20' height='20' alt='Аватар пользователя')
          b.last__list-name Анна Артамонова
          a.last__list-link(href='#')
            | #{comment.text}
      